body {
    margin: 60px auto;
    width: 70%;
    font-family:'Karla', 'Arial', 'Sans-Serif';
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
nav ul, footer ul {
    font-family:'Karla', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 35px;
}

nav {
    border-bottom: 1px solid #d5d5d5;
    flex: 0 0 auto;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 24pt;
    font-family:'Karla', 'Arial', 'Sans-Serif';
}
p {
    font-size: 11pt;
    line-height: 1.5 em;
    color: #333;
    flex: 1;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    position: fixed;
    left: 20;
    bottom: 0;
    height: 100px;
    width: 70%;
    background-color: white;
}

ul.posts { 
    margin: 20px 0px 40px; 
    font-size: 11.5pt;
}

ul.posts li {
    list-style: none;
}
