body {
    margin: 60px auto;
    width: 70%;
    font-family:'Karla', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    font-family:'Karla', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 24pt;
    font-family:'Karla', 'Arial', 'Sans-Serif';
}
p {
    margin: 20px auto 40px; 
    font-size: 11.5pt;
    line-height: 1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    position: fixed;
    height: 100px;
    width: 75%;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 11.5pt;
}

ul.posts li {
    list-style: none;
}
