<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			{% include footer.html %}
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tyuan20@amherst.edu">Email</a></li>
	        		<li><a href="https://github.com/lucytyuan">Github</a></li>
			</ul>
			</footer>
		</body>
	</html>
